.tooltip {
    all: unset; /* Reset Bootstrap styles */
}

/* Style for map container */
#map {
    width: 100%;
    height: 500px;
    margin-top: 20px;
}
h1 {
    text-align: center;
    padding: 0.5em;
}

.bar {
    fill: grey;
}

#education {
    width: 50%;
    height: 50vh
}
