
h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
}

.tooltip {
    all: unset; /* Reset Bootstrap styles */
}

.tooltip h4 {
    text-align: left;
    font: 10px Verdana, sans-serif;
}

#bubble-tooltip {
    position: absolute;
    text-align: center;
}

.bar {
    opacity: 50;
    stroke: black;
}

.bubble {
    opacity: 50;
    stroke: black;
}

#bubble-title {
    font-size: 12px;
}


/* old configs, kept for future reference */

/* #start {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 100%;
    height: 100vh;
}

#education {
    width: 80%;
    height: 100vh;
    margin: 10%;
}

#industry {
    width: 80%;
    height: 100vh;
    margin: 10%;
}

#info {
    width: 80%;
    height: 100vh;
    margin: 10%;
}

#wealth {
    width: 80%;
    height: 80vh;
    margin: 10%;
} */

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start,
#map,
#education,
#industry,
#info,
#wealth {
    width: 100%;
    height: 100vh;
}